---
interface Props {
  class?: string;
  projectIamge: string;
  title: string;
  description?: string;
  stack: string[];
}

const { title, description, stack } = Astro.props;
---

<article
  class={`${Astro.props.class} rounded-xl shadow-lg border overflow-hidden relative group `}
>
  <div
    class={`${Astro.props.projectIamge} bg-cover bg-center bg-no-repeat h-full transition-transform duration-300 transform group-hover:scale-105`}
  >
  </div>

  <div
    class="absolute inset-0 flex flex-col gap-y-4 items-center justify-center text-white opacity-0 bg-black bg-opacity-70 hover:opacity-100 transition-opacity duration-300"
  >
    <h1 class="text-6xl font-extrabold">{title}</h1>
    <h1 class="text-3xl font-semibold">{description}</h1>

    <div class="flex gap-x-5 text-projectText text-xl font-semibold">
      {stack.map((item) => <p> {item} </p>)}
    </div>
  </div>
</article>
